@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.ql-container.ql-snow {
  display: flex;
  justify-content: center;
}

.ql-container.ql-snow .ql-editor {
  background-color: white;
  max-width: 210mm;
  min-height: 297mm;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 5px #000;
  margin: 20px;
}

.ql-toolbar.ql-snow {
  background-color: white;
  position: sticky;
  top: 56px;
  box-shadow: 0 0 5px #000;
  display: flex;
  justify-content: center;
  z-index: 49;
}
