@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.ql-container.ql-snow {
  display: flex;
  justify-content: center;
}

.ql-container.ql-snow .ql-editor {
  background-color: white;
  max-width: 210mm;
  min-height: 297mm;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 5px #000;
  margin: 20px;
}

.ql-toolbar.ql-snow {
  background-color: white;
  position: sticky;
  top: 56px;
  box-shadow: 0 0 5px #000;
  display: flex;
  justify-content: center;
  z-index: 49;
  flex-wrap: wrap;
}

.ql-snow .ql-picker.ql-size .ql-picker-label::before,
.ql-snow .ql-picker.ql-size .ql-picker-item::before {
  content: attr(data-value) !important;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  overflow-y: auto;
  max-height: 140px;
}

.ql-size-7 {
  font-size: 7px;
  color: 
}

.ql-size-8 {
  font-size: 8px;
}

.ql-size-9 {
  font-size: 9px;
}

.ql-size-10 {
  font-size: 10px;
}

.ql-size-11 {
  font-size: 11px;
}

.ql-size-12 {
  font-size: 12px;
}

.ql-size-14 {
  font-size: 14px;
}

.ql-size-16 {
  font-size: 16px;
}

.ql-size-18 {
  font-size: 18px;
}

.ql-size-20 {
  font-size: 20px;
}

.ql-size-22 {
  font-size: 22px;
}

.ql-size-24 {
  font-size: 24px;
}

.ql-size-28 {
  font-size: 28px;
}

.ql-size-32 {
  font-size: 32px;
}

.ql-size-48 {
  font-size: 48px;
}

.ql-size-72 {
  font-size: 72px;
}

