@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ql-container {
  display: flex;
  justify-content: center;
}

.ql-container .ql-editor {
  background-color: white;
  max-width: 210mm;
  min-height: 297mm;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 5px #000;
  margin: 20px;
}

@media screen and (max-width: 640px) {
  .ql-container .ql-editor {
    margin: 10px;
  }
}

.ql-toolbar {
  background-color: white;
  position: sticky;
  top: 48px;
  box-shadow: 0 0 5px #000;
  display: flex;
  justify-content: center;
  z-index: 49;
  flex-wrap: wrap;
}

@media screen and (min-width: 640px) {
  .ql-toolbar {
    top: 64px;
  }
}

.ql-picker.ql-size .ql-picker-label::before,
.ql-picker.ql-size .ql-picker-item::before {
  content: attr(data-value) !important;
}

.ql-toolbar .ql-picker.ql-expanded .ql-picker-options {
  overflow-y: auto;
  max-height: 140px;
}

.ql-size-7 {
  font-size: 7px;
  color: ;
}

.ql-size-8 {
  font-size: 8px;
}

.ql-size-9 {
  font-size: 9px;
}

.ql-size-10 {
  font-size: 10px;
}

.ql-size-11 {
  font-size: 11px;
}

.ql-size-12 {
  font-size: 12px;
}

.ql-size-14 {
  font-size: 14px;
}

.ql-size-16 {
  font-size: 16px;
}

.ql-size-18 {
  font-size: 18px;
}

.ql-size-20 {
  font-size: 20px;
}

.ql-size-22 {
  font-size: 22px;
}

.ql-size-24 {
  font-size: 24px;
}

.ql-size-28 {
  font-size: 28px;
}

.ql-size-32 {
  font-size: 32px;
}

.ql-size-48 {
  font-size: 48px;
}

.ql-size-72 {
  font-size: 72px;
}

.ql-undo svg,
.ql-redo svg {
  fill: #444;
}

.ql-undo:hover svg,
.ql-redo:hover svg,
.ql-undo:focus svg,
.ql-redo:focus svg {
  fill: #1d4ed8;
}

.ql-picker-label,
.ql-indent,
.ql-formats > button {
  border: 1px solid rgba(189, 189, 189, 0.4) !important;
  border-radius: 4px;
  margin-right: 3px;
  transition: all 300ms ease-in-out;
}

.ql-picker-label:hover,
.ql-indent:hover,
.ql-formats > button:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.ql-formats {
  margin-top: 5px;
}

@media print {
  body,
  html {
    width: 210mm;
    height: 297mm;
    background: none !important;
    padding: 0;
    box-shadow: none;
  }

  @page {
    size: A4;
    margin: 0;
  }

  .main-container .ql-snow.ql-editor {
    width: 210mm;
    height: auto;
    box-shadow: none !important;
  }

  .main-container .main-container .ql-clipboard {
    display: none;
  }

  .main-container .ql-editor.landscape {
    width: auto;
    height: 297mm;
  }

  .main-container .ql-toolbar,
  .main-container .editor-main-header {
    display: none;
  }
}
